<a href="<%=blogpost.link%>" target="_blank" class="blog-teaser">
  <div class="blog-teaser__image__wrapper box-shadow--large">
    <div class="blog-teaser__image image-zoom" style="background-image: url('<%=blogpost.image %>')"></div>
  </div>
  <div class="blog-teaser__content">
    <div class="blog-date"><%=blogpost.date%></div>
    <h4 class="blog-headline"><%=blogpost.title%></h4>
    <p class="blog-introtext teaser--text"><%=blogpost.text%></p>
  </div>
</a>
