<div class="project--higlighted">

  <% if(project.images.length > 1) { %>
    <div id="<%='slider'+highlightCount%>" class="project__slider swipe content box-shadow--large">
      <div class="swipe-wrap">
        <% project.images.forEach(function(image){ %>
          <div class="video-teaser slide">
            <% if (index > 8) { %>
              <div class="slider__image teaser--placeholder" data-bg="<%= image %>"></div>
            <% } else { %>
              <div class="slider__image" style="background-image: url('<%= image %>')"></div>
            <% } %>
          </div>
        <% }) %>
      </div>
      <ul class="slider-controls"></ul>
      <div class="slider__button" id="prev" >
        <svg viewbox="0 0 40 40"><path transform="scale(2)" d="M12.34,2.34,4.69,10l7.66,7.66L10,20,0,10,10,0Z"/></svg>
      </div>
      <div class="slider__button" id="next">
        <svg viewbox="-15 0 40 40"><path transform="scale(2)" d="M2.34,0l10,10-10,10L0,17.66,7.66,10,0,2.34Z"/></svg>
      </div>

    </div>
  <% } else { %>
    <a class="image--wrapper" href="<%=project.title%>">
      <% if (index > 8) { %>
        <img class="project__image--highlighted box-shadow--large teaser--placeholder" data-bg="<%=project.images[0]%>" />
      <% } else { %>
        <img class="project__image--highlighted box-shadow--large" src="<%=project.images[0]%>" />
      <% } %>
    </a>
  <% } %>

  <div class="project__info">
    <h3><%=project.title%></h1>
    <div class="info--text teaser--text"><%=project.description%></div>
    <a href="<%=project.url%>" class="button button--submit">visit project</a>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', loadSlider);

  function loadSlider(){
    new window.Slider('slider'+<%=highlightCount%>, 3000);
  }
</script>
