<div class="project--higlighted">

  <% if(project.images.length > 1) { %>
    <div id="<%='slider'+highlightCount%>" class="project__slider swipe content box-shadow--large">
      <div class="swipe-wrap">
        <% project.images.forEach(function(image){ %>
          <div class="video-teaser slide">
            <img src="<%= image %>"/>
          </div>
        <% }) %>
      </div>
      <ul class="slider-controls"></ul>
    </div>
  <% } else { %>
    <a class="image--wrapper" href="<%=project.title%>">
      <img class="project__image--highlighted box-shadow--large" src="<%=project.images[0]%>" />
    </a>
  <% } %>

  <div class="project__info">
    <h3><%=project.title%></h1>
    <div class="info--text teaser--text"><%=project.description%></div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', loadSlider);

  function loadSlider(){
    new window.Slider('slider'+<%=highlightCount%>);
  }
</script>
