<!DOCTYPE html>
<html lang="en">
  <% include src/partials/head %>
  <body>
    <section class="section section--intro">

      <% include src/partials/header %>

      <div class="headline content">
        <h1>Data Visualization Studio</h1>
        <h2>webkid is a team of data visualization experts that produces complex, data-driven and interactive applications</h2>
      </div>
    </section>

    <section class="section section--intro-overlap">
      <div id="slider" class="swipe content box-shadow--large">
        <div class="swipe-wrap">
          <% htmlWebpackPlugin.options.teasers.large.forEach(function(teaser) { %>
            <div class="video-teaser slide">
              <div class="slider-gradient"></div>
              <div class="video-teaser--content">
                <div class="small-teaser--headline video-teaser--headline"><%=teaser.title%></div>
                <div class="small-teaser--description teaser--text"><%=teaser.description%></div>

                <a href="/portfolio" class="video-teaser--button">View portfolio</a>
              </div>

              <img class="bg-placeholder" src="<%=teaser.image%>"/>

              <img class="bg-gif" data-src="<%=teaser.gif%>"/>

              <video class="bg-video" autoplay loop muted>
                <source data-src="<%=teaser.video%>" type="video/mp4" />
              </video>
            </div>
          <% }); %>
        </div>

        <ul class="slider-controls"></ul>
      </div>
    </section>

    <section class="section section--portfolio-link">
      <div class="content">
        <a href="/portfolio" class="portfolio-button">View our portfolio</a>
      </div>
    </section>

    <section class="section section--projects">
      <div class="small-teaser-wrapper content">
        <% htmlWebpackPlugin.options.teasers.small.forEach(function(teaser) { %>
            <% include src/partials/teaser %>
        <% }); %>
      </div>
    </section>

    <section class="section section--clients">
      <div class="content">
        <div class="divider">clients</div>
        <div class="clients">
          <img src="static/images/bmo.svg"/>
          <img src="static/images/nzz.svg"/>
          <img src="static/images/b1.svg"/>
          <img src="static/images/SRF.svg"/>
          <img src="static/images/correctiv.svg"/>
          <img src="static/images/hessenschau.svg"/>
          <img src="static/images/taz.svg"/>
          <img src="static/images/oecd.svg"/>
          <img src="static/images/welt.svg"/>
          <img src="static/images/wetter.svg"/>
        </div>
      </div>
    </section>

    <section class="section section--contact" id="contact">
      <div class="content">
        <h3>How can we help you?</h3>

        <p>Besides data visualizations we are offering services like performance and mobile optimization, newsroom consulting or trainings. Please get in touch and let us know how we can help you.</p>

        <form name="webkid-contact" class="contact-form" netlify-honeypot="bot-field" netlify>

          <div class="input-wrapper">
            <label class="label" for="email">Email</label>
            <input class="input" type="text" name="email" placeholder="your email..." />
          </div>

          <div class="input-wrapper">
            <label class="label" for="email">Message</label>
            <textarea class="input textarea" name="message" placeholder="your message..."></textarea>
          </div>

          <div class="input-wrapper">
            <button class="button button--submit" type="submit">submit</button>
          </div>

        </form>
      </div>
    </section>

    <section class="section section--blog">
      <div class="content">
        <h3>Latest Blogposts</h3>

        <% htmlWebpackPlugin.options.blogposts
          .filter(function(blogpost, index){ return index < 3; })
          .forEach(function(blogpost) { %>
           <% include src/partials/blogpost %>
        <% }); %>

      </div>
    </section>

    <% include src/partials/footer %>

  </body>
</html>
