<!DOCTYPE html>

<% var titleCase = require('titlecase'); %>
<html lang="en">
  <% include src/partials/head %>
  <body>
    <section class="section section--intro">

      <% include src/partials/header %>

      <div class="headline content">
        <h1>Hi, we are webkid!</h1>
        <h2>A team of experts who build hand-crafted and beautiful interactive applications for the web.</h2>
      </div>
    </section>

    <section class="section section--intro-overlap">
      <div id="slider" class="main-slider swipe content box-shadow--large">
        <div class="swipe-wrap">
          <% htmlWebpackPlugin.options.teasers.large.forEach(function(teaser) { %>
            <div class="video-teaser slide">
              <div class="slider-gradient"></div>
              <div class="video-teaser--content">
                <div class="small-teaser--headline video-teaser--headline"><%=titleCase(teaser.title)%></div>
                <div class="small-teaser--description teaser--text"><%=teaser.description%></div>

                <a href="/portfolio" class="video-teaser--button">View portfolio</a>
              </div>

              <img class="bg-image" data-src="<%=teaser.gif%>" src="<%=teaser.image%>"/>

              <video width="100%" class="bg-video" poster="<%=teaser.image%>" muted>
                <source data-src="<%=teaser.videomp4%>" type="video/mp4" />
                <source data-src="<%=teaser.videowebm%>" type="video/webm" />
              </video>
            </div>
          <% }); %>
        </div>

        <ul class="slider-controls"></ul>
        <div class="slider__button" id="prev">
          <svg viewbox="0 0 40 40"><path transform="scale(2)" d="M12.34,2.34,4.69,10l7.66,7.66L10,20,0,10,10,0Z"/></svg>
        </div>
        <div class="slider__button" id="next">
          <svg viewbox="-15 0 40 40"><path transform="scale(2)" d="M2.34,0l10,10-10,10L0,17.66,7.66,10,0,2.34Z"/></svg>
        </div>

      </div>
    </section>

    <section class="section section--portfolio-link">
      <div class="content">
        <a href="/portfolio" class="button portfolio-button">View our portfolio</a>
      </div>
    </section>

    <section class="section section--projects">
      <div class="small-teaser-wrapper content">
        <% htmlWebpackPlugin.options.teasers.small.forEach(function(teaser) { %>
            <% include src/partials/teaser %>
        <% }); %>
      </div>
    </section>

    <section class="section section--clients">
      <div class="content">
        <div class="divider">clients</div>
        <div class="clients">
          <a href="//www.morgenpost.de/" target="_blank"><img src="static/images/bmo.svg" alt="Berliner Morgenpost Logo" title="Berliner Morgenpost" /></a>
          <a href="//www.nzz.ch/" target="_blank"><img src="static/images/nzz.svg" alt="Neue Züricher Zeitung Logo" title="Neue Züricher Zeitung" /></a>
          <a href="//www.brandeins.de/" target="_blank"><img src="static/images/b1.svg" alt="Brandeins Logo" title="Brandeins - Wirtschaftsmagazin" /></a>
          <a href="//www.srf.ch/" target="_blank"><img src="static/images/SRF.svg" alt="Schweizer Radio und Fernsehen Logo" title="Schweizer Radio und Fernsehen" /></a>
          <a href="//www.resiapp.io/" target="_blank"><img src="static/images/resi.svg" alt="Resiapp Logo" title="Resi - deine persönliche News-Assistentin" /></a>
          <a href="//correctiv.org" target="_blank"><img src="static/images/correctiv.svg" alt="Correctiv Logo" title="Correct!v" /></a>
          <a href="//hessenschau.de/" target="_blank"><img src="static/images/hessenschau.svg" alt="Hessenschau Logo" title="Hessenschau" /></a>
          <a href="//www.taz.de/" target="_blank"><img src="static/images/taz.svg" alt="Taz Logo" title="Taz - Die Tageszeitung" /></a>
          <a href="//www.oecd.org/" target="_blank"><img src="static/images/oecd.svg" alt="OECD Logo" title="OECD" /></a>
          <a href="//www.welt.de/" target="_blank"><img src="static/images/welt.svg" alt="Welt Logo" title="Welt" /></a>
          <a href="//www.wetter.com/" target="_blank"><img src="static/images/wetter.svg" alt="Wetter.com Logo" title="Wetter.com" /></a>
        </div>
      </div>
    </section>

    <section class="section section--contact" id="contact">
      <div class="alert">
        <div class="alert--content"></div>
        <div class="alert--close-button"></div>
      </div>

      <div class="content form__container">
        <h3>How can we help you?</h3>

        <p class="contact__text">Let's talk! We are always looking for interesting projects to work on. Feel free to contact us - we answer lightning fast!</p>
      </div>
    </section>

    <section class="section section--blog">
      <div class="content">
        <h3>Latest Blogposts</h3>

        <% htmlWebpackPlugin.options.blogposts
          .filter(function(blogpost, index){ return index < 3; })
          .forEach(function(blogpost) { %>
           <% include src/partials/blogpost %>
        <% }); %>

      </div>
    </section>

    <% include src/partials/footer %>

  </body>
</html>
